.center {
    margin: 15% 28%;
    /* margin: auto; */
    width: 40%;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 20px;
}

h3 {
    margin-left: 40px;
}

.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 2px;
}

.button:hover {
    background-color: #3e8e41;
}

.input[type="text"] {
    width: 70%;
    padding: 8px 30px;
    margin: 8px 34px;
    box-sizing: border-box;
}